extends layout

block content
  div.latency
    div.latency-header
      span Latency
    div.latency-content
      div.latency-settings
        button.latency-setting-button.latency-short.js-short 30s
        button.latency-setting-button.latency-medium.js-medium 5min
        button.latency-setting-button.latency-long.js-long 1h
      div.latency-content-graph.js-latency
  div.device-list
    div.device-list-header
      span.device-list-header-name(title="Device") Device
      span.device-list-header-ip(title="Assigned IP") Assigned IP
      span.device-list-header-status &nbsp;
      span.device-list-header-timestamp(title="Last seen...") Last seen...
    div.device-list-content
      each device in devices
        div.device-list-content-item.js-item(data-id=device.id)
          div.device-list-content-item-details
            span.device-list-content-item-details-name(title=device.name)
              if device.alias
                | #{device.alias}
              else
                | #{device.name}
            span.device-list-content-item-details-ip(title=device.ip) #{device.ip}
            span.device-list-content-item-details-status.js-timestamp(title="Status" data-timestamp=device.timestamp) &nbsp;
            span.device-list-content-item-details-timestamp(title=device.activeOn) #{device.activeOn}
          div.device-list-content-item-history.js-history