extends layout

block content
  div.device-list
    div.device-list-header
      span.device-list-header-name(title="Device") Device
      span.device-list-header-ip(title="Assigned IP") Assigned IP
      span.device-list-header-status &nbsp;
      span.device-list-header-timestamp(title="Last seen on...") Last seen on...
    each device in devices
      div.device-list-item.js-item
        span.device-list-item-name(title=device.name) #{device.name}
        span.device-list-item-ip(title=device.ip) #{device.ip}
        span.device-list-item-status.js-timestamp(title="Status" data-timestamp=device.timestamp) &nbsp;
        span.device-list-item-timestamp(title=device.activeOn) #{device.activeOn}
